@charset "UTF-8";

@font-face {
  font-family: 'Nexa';
  src: local('Nexa'), url(../fontes/nexa_rust_sans/NexaRustSans-Trial-Black2.ttf) format('truetype');
}
@font-face {
  font-family: 'Gradia';
  src: local('Gradia'), url(../fontes/gradia/Gradia.otf) format('opentype');
}
@font-face {
  font-family: 'Nexa_2';
  src: local('Nexa_2'), url(../fontes/nexa_rust_sans/NexaRustScriptR-Trial-4.ttf) format('truetype');
}

@font-face {
  font-family: 'Spark-Stone';
  src: local('Spark-Stone'), url(../fontes/sparky-stones-font/SparkyStonesRegular-BW6ld.ttf) format('truetype');
}

@font-face {
  font-family: 'The-Globe';
  src: local('The-Globe'), url(../fontes/the-globe-font/TheGlobePersonalUseBold-2ORlw.ttf) format('truetype');
}

@font-face {
  font-family: 'Goldleaf';
  src: local('Goldleaf'), url(../fontes/goldleaf-bold-font/GoldleafBoldPersonalUseBold-eZ4dO.ttf) format('truetype');
}

@media (max-width: 800px) {
  .topo {
    flex-direction: column;
  }
  .logo {
    width: 150px;
  }
  .links {
    flex-direction: row;
    width: 100%;
  }
}

.main {
  background-image: url(../componentes/Imagens/pexels-cottonbro-4667030.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.topo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.logo {
  height: 100%;
  width: 200px;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.links > a {
  text-decoration: none;
  font-family: Goldleaf, serif;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  overflow-y: hidden;
  transition: .5s;
}

.links > a:hover {
  background-color: rgba(0, 0, 0, 0.466);
  color: coral;
}

.banner {
  background-image: url(../componentes/Imagens/barman-preparando-um-delicioso-coquetel-refrescante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
}

.banner_letrero {
  backdrop-filter: blur(1.5px);
  box-shadow: inset 0px 0px 10px black;
  align-items: center;
  padding-top: 250px;
  padding-bottom: 250px;
  padding-left: 20px;
  color: coral;
  text-shadow: 1px 1px 3px black;
  line-height: 30px;
}

.banner_letrero h1 {
  font-family: Nexa, serif;
}

.banner_letrero > p{
  font-family: Spark-Stone, sans-serif;
  font-size: 20px;
  color: gainsboro;
}

.conteudo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  backdrop-filter: blur(4px);
}

.conteudo > h2{
  margin: auto;
  padding: 40px;
  text-align: center;
  width: 100vw;
  color: gainsboro;
  text-shadow: 2px 2px 5px black;
  font-family: Nexa, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin-bottom: 80px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(30deg, black 20%, rgb(54, 54, 54));
  color: white;
  list-style: none;
  box-shadow: inset 0px 0px 10px black;
}

.footer > div > h3 {
  text-align: center;
  font-family: The-Globe, sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}

.footer > div > ul > li {
  margin-bottom: 10px;
}

.footer > div > ul > li > a {
  text-decoration: none;
  color: white;
  transition: .5s;
  font-family: The-Globe, sans-serif;
  font-size: 15px;
}

.footer > div > ul > li > a:hover {
  color: coral;
}